.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 2rem 0rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    z-index: -1;
    opacity: 0.9;
    background: url('./img/town.jpg') center no-repeat;
}

.section-weather {
    width: 80%;
    margin: 0 auto;
    min-height: 30%;
    height: fit-content;
    background: #b4bdcb;
    clip-path: polygon(93% 0%, 100% 50%, 93% 100%, 0% 100%, 7% 50%, 0% 0%);
    opacity: 0.6;
    display: flex;
    align-items: center;
}

.section-weather__container {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}
.section-forecast {
    width: 80%;
    margin: 0 auto;
    opacity: 0.7;
    height: 30%;
    background: white;
    clip-path: polygon(100% 0%, 93% 50%, 100% 100%, 7% 100%, 0% 50%, 7% 0%);
}

#weatherForm {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#weatherInput {
    border-radius: 8px;
    transform: translateY(-25%);
}

#weatherForm label,
.weatherContainer p {
    font-size: 3vh;
}

#weatherContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#weatherInput {
    height: 4vh;
    width: 25rem;
    padding: 0rem 1rem;
    margin: 0;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 1vh;
}

#weatherInput::placeholder {
    font-size: 3vh;
}

#weatherContainer__autoComplete {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0;
    margin: 0;
}

#weatherContainer__autoComplete p {
    position: absolute;
    height: 3vh;
    width: calc(25rem + 2px);
    background: white;
    border: 1px solid black;
    border-top: 0px;
    display: inline;
    padding: 0rem 1rem;
    margin: 0;
    font-size: 2.5vh;
    box-sizing: border-box;
}

#weatherContainer__autoComplete p:nth-child(1) {
    top: 0vh;
    border-top: 1px solid black;
}

#weatherContainer__autoComplete p:nth-child(2) {
    top: 3vh;
}

#weatherContainer__autoComplete p:nth-child(3) {
    top: 6vh;
}

.weatherContainer {
    width: 80%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

li img {
    height: 20rem;
    width: 15rem;
}

#weather {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: row;
}

p,
#weatherInput {
    display: inline;
    padding-right: 1rem;
    font-size: 2.5vh;
}

#weatherIcon {
    width: 36px;
    height: 36px;
}

.section-map {
    width: 80%;
    margin: 0 auto;
    height: 30%;
    clip-path: polygon(93% 0%, 100% 50%, 93% 100%, 0% 100%, 7% 50%, 0% 0%);
    opacity: 0.9;
}

.mapboxgl-map {
    overflow: hidden;
    position: relative;
    width: 100%; /* ICI */
    height: 100%; /* ET LA */
}

.mapboxgl-map:focus {
    outline: none;
}

.chartContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

canvas#myChart {
    height: 100%;
    width: 80%;
    margin-left: 10%;
}
